.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    position: sticky;
    top: 0;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.checkout__backHome {
    display: flex;
    flex-direction: column;
}

.checkout__backHome > h4 {
    margin-bottom: 15px;
}

.checkout__backHomeButton {
    font-weight: 500;
    text-align: left;
    background: #f0c14b;
    border-radius: 2px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    transition: all 0.2s;
    cursor: pointer;
}
.checkout__backHomeButton:hover {
    transform: scale(1.02);
    background-color: #e1aa12;
    box-shadow: 4px 5px 20px -10px rgba(0,0,0,0.75);

}
