.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;
    cursor: pointer;

}

.checkoutProduct:hover {
    transform: scale(1.05);
    box-shadow: 7px 8px 30px -10px rgba(0,0,0,0.75);
    background-color: #fffafa;
    cursor: pointer;
}

.checkoutProduct__info {
    padding-left: 20px;
    padding-top: 9px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    padding: 8px 20px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all 0.2s;
    border-radius: 2px;
    cursor: pointer;
}

.checkoutProduct__info > button:hover {
    transform: scale(1.04);
    background-color: #fffafa;
    box-shadow: 9px 10px 55px -10px rgba(0,0,0,0.75);
    cursor: pointer;
}


.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    padding: 8px;
    margin-left: 8px;
}

.checkoutProduct__rating {
    display: flex;
    transition: all 0.3s;
}
.checkoutProduct__rating:hover {
    transform: scale(1.4);
    transform-origin: left;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}


