.payment {
    background-color: white;
    box-shadow: 4px 5px 20px -10px rgba(0,0,0,0.75);

}

.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}

.payment__link {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.payment_reviewAndDelivery {
    display: block;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address, .payment__items, .payment__details {
    flex: 0.8;
}

.order__totalValue {
    margin-top: 20px;
    padding-bottom: 20px;
}

.payment__details > form > div > button {
    margin-top: 20px;
    background: #f0c14b;
    border-radius: 2px;
    width: 50%;
    height: 30px;
    border: 1px solid;
    font-weight: bold;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all 0.2s;
    cursor: pointer;
}

.payment__details > form > div > button:hover {
    transform: scale(1.02);
    background-color: #e1aa12;
    box-shadow: 4px 5px 20px -10px rgba(0,0,0,0.75);
}




















